.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-container1 {
  width: 80%;
  height: 150px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
}
.home-image {
  width: 150px;
  padding: 0px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.home-container2 {
  flex: 0 0 auto;
  width: 299px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text {
  align-self: flex-start;
  font-family: Inter;
  margin-left: 0px;
  text-transform: uppercase;
}
.home-text03 {
  font-size: 20px;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
}
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: flex-start;
}
.home-link {
  margin-right: var(--dl-space-space-twounits);
}
.home-text06 {
  text-decoration: underline;
}
.home-link1 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: underline;
}
.home-link2 {
  text-decoration: underline;
}
.home-banner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.home-text10 {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
.home-text11 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text18 {
  font-size: 1.5em;
  margin-top: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.home-gallery {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  grid-template-columns: 1fr 1fr 1fr;
}
.home-component {
  text-decoration: none;
}
.home-component1 {
  text-decoration: none;
}
.home-component2 {
  text-decoration: none;
}
.home-component3 {
  text-decoration: none;
}
.home-component4 {
  text-decoration: none;
}
.home-component5 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-text11 {
    max-width: 100%;
  }
  .home-gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text11 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
