.about-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-container {
  width: 100%;
  display: flex;
  align-self: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.about-text {
  font-size: 3rem;
  align-self: stretch;
}
.about-text1 {
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.about-container1 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.about-text2 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.about-button {
  color: #ffffff;
  width: 225px;
  height: 59px;
  padding: var(--dl-space-space-unit);
  font-size: 17px;
  text-align: center;
  transition: 0.3s;
  border-style: hidden;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #007aff;
}
.about-button:hover {
  color: var(--dl-color-gray-white);
  background-color: #0096ff;
}
@media(max-width: 991px) {
  .about-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .about-container {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-text {
    text-align: center;
  }
  .about-text1 {
    text-align: center;
  }
  .about-text2 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .about-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .about-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-container {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-text {
    align-self: flex-start;
  }
  .about-container1 {
    align-self: flex-start;
  }
  .about-text2 {
    text-align: left;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-button {
    align-self: flex-start;
    text-align: center;
  }
}
