.face-container {
  display: flex;
  position: relative;
}
.face-image {
  width: var(--dl-size-size-xxlarge);
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
}



@media(max-width: 767px) {
  .face-image {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .face-root-class-name1 {
    top: 32px;
    left: 16px;
    width: auto;
    position: static;
    align-self: center;
  }
}
