.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-link {
  color: #000000;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius4);
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-link:hover {
  color: #011f5b;
  font-style: normal;
  font-weight: 400;
  padding-top: 2px;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 2px;
  background-color: #ececec;
}
.navigation-links-text {
  color: #000000;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-text:hover {
  color: #011f5b;
  font-style: normal;
  font-weight: 400;
  padding-top: 2px;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 2px;
  background-color: #ececec;
}
.navigation-links-text1 {
  color: #000000;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.navigation-links-text1:hover {
  color: #011f5b;
  font-style: normal;
  font-weight: 400;
  padding-top: 2px;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 2px;
  background-color: #ececec;
}









@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
