.social-bar-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  align-self: center;
  justify-content: center;
}
.social-bar-link {
  display: contents;
}
.social-bar-icon {
  fill: #000000;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  text-decoration: none;
}
.social-bar-icon:hover {
  fill: #011f5b;
  width: 30px;
  height: 30px;
  margin-bottom: 0px;
}
.social-bar-link1 {
  display: contents;
}
.social-bar-icon2 {
  fill: #000000;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.social-bar-icon2:hover {
  fill: #011f5b;
  width: 30px;
  height: 30px;
}
.social-bar-link2 {
  display: contents;
}
.social-bar-icon4 {
  fill: #000000;
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.social-bar-icon4:hover {
  fill: #011F5b;
  width: 30px;
  height: 30px;
}


@media(max-width: 767px) {
  .social-bar-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .social-bar-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
